<app-md-layout></app-md-layout>
<div  id="main-content">
  <div class="container-fluid">
    <div class="page-header">
      <div class="page-title">
        <h4>Retailer Details</h4>
        <h6>Dashboard / Retailer Details</h6>
      </div>
    </div>
    <div class="card">
      <div class="card-body">        
        <div class="table-responsive">
          <p-table class="table-rt table-home table-wrapper-commision" #dt [value]="respData" dataKey="memberId"
            [rowHover]="true" [rows]="20" [showCurrentPageReport]="true" [rowsPerPageOptions]="[20,50,100]"
            [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [filterDelay]="0"
            [globalFilterFields]="['id','fullName','shopName','address','mobileNumber','isStatus','createByName']">
            <ng-template pTemplate="caption">
              <div class="row table-header">
                <div class="col-md-4">
                    <ng-select [items]="distList" bindLabel="desc" name="dist_id"  bindValue="code" [(ngModel)]="dist_id"
                      #distid="ngModel" placeholder="Select" required>
                    </ng-select>
                  </div>                 
                  <div class="col-md-1">
                    <button type="button" (click)="getMembers(dist_id)" class="btn btn-primary w-20">Search</button>
                  </div>
                <div class="col-sm-3 text-right">
                  <!-- <i class="pi pi-search" style="margin:4px 4px 0 0"></i> -->
                  <input pInputText class="form-control" type="text"
                    (input)="dt.filterGlobal(changeText($event.currentTarget), 'contains')"
                    placeholder="Global Search" />
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th>#</th>
                <th pSortableColumn="id">
                  <div class="p-d-flex p-jc-between p-ai-center">
                    Code
                  </div>
                </th>             
                <th pSortableColumn="userName">
                  <div class="p-d-flex p-jc-between p-ai-center">
                    Name
                    
                  </div>
                </th>
                <th pSortableColumn="shopName">
                  <div class="p-d-flex p-jc-between p-ai-center">
                    Company Name
                    
                  </div>
                </th>
                <th pSortableColumn="mobileNumber">
                  <div class="p-d-flex p-jc-between p-ai-center">
                  Mobile
                   
                  </div>
                </th>
                <th pSortableColumn="address">
                  <div class="p-d-flex p-jc-between p-ai-center">
                    Address
                    
                  </div>
                </th>

                <th pSortableColumn="isActive">
                  <div class="p-d-flex p-jc-between p-ai-center">
                    Active
                   
                  </div>
                </th>
                <th>
                  <div class="p-d-flex p-jc-between p-ai-center">
                    Created Date

                  </div>
                </th>
                <th>
                  <div class="p-d-flex p-jc-between p-ai-center">
                    Balance

                  </div>
                </th>
                <th style="width:10%;">
                  <div class="p-d-flex p-jc-between p-ai-center">
                    #
                  </div>
                </th>

              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-cp let-i="rowIndex">
              <tr class="p-selectable-row">
                <td>{{i+1}}</td>
                <td>
                  {{cp.roleType}}{{cp.id}}
                </td>                
                <td style="text-transform: capitalize;">
                  {{cp.userName}}
                </td>
                <td>
                  {{cp.companyName}}
                </td>
                <td>
                  {{cp.rmn}}
                </td>
                <td style="text-transform: capitalize;">
                  {{cp.address}}
                </td>
                <td>
                  <ng-container *ngIf="cp.isActive=='A'">
                    <span class="badge-success badge mr-2">Active</span>
                  </ng-container>
                  <ng-container *ngIf="cp.isActive=='D'">
                    <span class="badge-danger badge mr-2">DeActive</span>
                  </ng-container>

                </td>

                <td>
                  {{cp.updatedDate| date: 'MM/dd/yyyy hh:mm aa'}}
                </td>
                <td>
                  {{cp.walletBlance | number : '1.2-2'}}
                </td>
                <td class="text-center">

                  <a href="javascript:void(0)"
                    (click)="openPageUrl('/ds/profile-details', {uuid: cp.memberId,mtCode: cp.mtCode})"
                    class="btn btn-primary btn-sm waves-effect waves-light kyc"><i class="fa fa-eye"></i></a>&nbsp;

                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="3">No records found.</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>

