<app-md-layout></app-md-layout>
<div id="main-content">
  <div class="block-header">
    <div class="row clearfix">
      <div class="col-md-6 col-sm-12">
        <h2>Profile Details</h2>
      </div>
    </div>
  </div>
        <div class="container-fluid">
          <div class="row">
          <div class="col-md-3" >

          </div>
          <div class="col-md-6" >
            <div class="card">
              <div class="card-header">Password Change</div>
              <div class="card-body text-primary">
                  <form (ngSubmit)="passwordForm.form.valid && onPasswordChangeSave()" #passwordForm="ngForm" name="passwordForm"
                  pFocusTrap autocomplete="off">
                  <div class="modal-body">
                    <div class="row border-button">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <label> Name </label>
                          <input type="text" class="form-control" name="userName" [(ngModel)]="userModel.userName" #userName="ngModel"
                            [ngClass]="{ 'is-invalid': passwordForm.submitted && userName.invalid }" required placeholder="Name"
                            disabled>
                          <div *ngIf="passwordForm.submitted && userName.invalid" class="invalid-feedback">
                            <div *ngIf="userName.errors">Name is required</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <label>
                          Mobile No for Service Activation </label>
                        <input type="text" class="form-control" name="mobileNo" [(ngModel)]="userModel.mobileNo" #mobileNo="ngModel"
                          [ngClass]="{ 'is-invalid': passwordForm.submitted && mobileNo.invalid }" required placeholder=" Mobile No."
                          disabled>
                        <div *ngIf="passwordForm.submitted && mobileNo.invalid" class="invalid-feedback">
                          <div *ngIf="mobileNo.errors"> Mobile No. is required</div>
                        </div>
                      </div>
                      <div class="col-sm-12" *ngIf="isOpt">
                        <div class="form-group">
                          <label>
                            New Password </label>
                          <input type="password" class="form-control" name="newPassword" [(ngModel)]="userModel.newPassword"
                            #newPassword="ngModel" [ngClass]="{ 'is-invalid': passwordForm.submitted && newPassword.invalid }"
                            required placeholder="New Password">
                          <div *ngIf="passwordForm.submitted && newPassword.invalid" class="invalid-feedback">
                            <div *ngIf="newPassword.errors"> New password is required</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12" *ngIf="isOpt">
                        <div class="form-group">
                          <label>
                            Confirm New Password </label>
                          <input type="password" class="form-control" name="confirmNewPassword"
                            [(ngModel)]="userModel.confirmNewPassword" #confirmNewPassword="ngModel"
                            [ngClass]="{ 'is-invalid': passwordForm.submitted && confirmNewPassword.invalid }" required
                            placeholder="Confirm New Password">
                          <div *ngIf="passwordForm.submitted && confirmNewPassword.invalid" class="invalid-feedback">
                            <div *ngIf="confirmNewPassword.errors"> Confirm New password is required</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12" *ngIf="isOpt">
                        <div class="form-group">
                          <label>
                           OTP </label>
                          <input type="password" class="form-control" name="otp"
                            [(ngModel)]="userModel.otp" #otp="ngModel"
                            [ngClass]="{ 'is-invalid': passwordForm.submitted && otp.invalid }" required
                            placeholder="OTP">
                          <div *ngIf="passwordForm.submitted && otp.invalid" class="invalid-feedback">
                            <div *ngIf="otp.errors">OTP is required</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" *ngIf="isOpt" class="btn btn-primary waves-effect waves-light">Save
                        changes</button>
                        <button type="button" (click)="onOtpSend()"  *ngIf="!isOpt" class="btn btn-primary waves-effect waves-light">
                          Send OTP</button>
                    </div>
                  </div>
                </form>
              </div>
          </div>
          </div>
          <div class="col-md-3" >

          </div>
        </div>
        </div>
      </div>

 

