<div id="wrapper">
 <app-admin-layout></app-admin-layout>
  <div class="content-page"
    >
    <div class="content main-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <div class="details">Outlet Full Details</div>
          </div>
          <div class="col-sm-4">
            <div class="card card-body">
              <div class="card-section">
                <div class="title">Personal Information</div>
                <div class="profile">
                  <div class="row p-header">
                    <div class="col-sm-12">
                      <div class="p-image">
                        <img [src]="getFilePath(profileData?.retailerInformation?.profilepic)" alt="Profile Pic" />
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="p-shop" style="text-transform: uppercase;">
                        {{profileData?.CompanyName}}
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="p-id-name" style="text-transform: uppercase;">
                        {{profileData?.UserCode}} | {{profileData?.Name}}
                      </div>
                    </div>
                  </div>
                  <div class="row p-footer">
                    <div class="col-sm-4 p-footer-box">
                      <div class="count">{{profileData?.Transactions ? profileData?.Transactions : 0}}</div>
                      <div class="tag">Transactions</div>
                    </div>
                    <div class="col-sm-4 p-footer-box">
                      <div class="count">{{profileData?.Amount ? profileData?.Amount : 0}}</div>
                      <div class="tag">Amount</div>
                    </div>
                    <div class="col-sm-4 p-footer-box">
                      <div class="count">{{profileData?.Balance ? profileData?.Balance : 0}}</div>
                      <div class="tag">Balance</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card card-body">
              <div class="card-section">
                <div class="title">Outlet Information</div>
                <div class="information">
                  <div class="row section">
                    <div class="col-sm-4">
                      <div class="left-tag">Status</div>
                    </div>
                    <div class="col-sm-8">
                      <div class="right-tag"><span class="highlight">
                          {{profileData?.outletInformation?.Status=='A'?'Active':'In-Active'}}</span></div>
                    </div>
                  </div>
                  <div class="row section">
                    <div class="col-sm-4">
                      <div class="left-tag">Outlet Name</div>
                    </div>
                    <div class="col-sm-8">
                      <div class="right-tag">{{profileData?.outletInformation?.OutletName}}</div>
                    </div>
                  </div>
                  <div class="row section">
                    <div class="col-sm-4">
                      <div class="left-tag">Outlet Type</div>
                    </div>
                    <div class="col-sm-8">
                      <div class="right-tag">{{profileData?.outletInformation?.OutletType}}</div>
                    </div>
                  </div>
                  <div class="row section">
                    <div class="col-sm-4">
                      <div class="left-tag">Distributor</div>
                    </div>
                    <div class="col-sm-8">
                      <div class="right-tag">{{profileData?.outletInformation?.DistributorName}}</div>
                    </div>
                  </div>
                  <div class="row section">
                    <div class="col-sm-4">
                      <div class="left-tag">Address</div>
                    </div>
                    <div class="col-sm-8">
                      <div class="right-tag">{{profileData?.outletInformation?.DistributorAddress}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card card-body">
              <div class="card-section">
                <div class="title">Retailer Information</div>
                <div class="information">
                  <div class="row section">
                    <div class="col-sm-4">
                      <div class="left-tag">Mobile</div>
                    </div>
                    <div class="col-sm-8">
                      <div class="right-tag">+91-{{profileData?.retailerInformation?.Mobile}}</div>
                    </div>
                  </div>
                  <div class="row section">
                    <div class="col-sm-4">
                      <div class="left-tag">Email</div>
                    </div>
                    <div class="col-sm-8">
                      <div class="right-tag">{{profileData?.retailerInformation?.Email}}</div>
                    </div>
                  </div>
                  <div class="row section">
                    <div class="col-sm-4">
                      <div class="left-tag">DOB</div>
                    </div>
                    <div class="col-sm-8">
                      <div class="right-tag">{{profileData?.retailerInformation?.DOB}}</div>
                    </div>
                  </div>
                  <div class="row section">
                    <div class="col-sm-4">
                      <div class="left-tag">Address</div>
                    </div>
                    <div class="col-sm-8">
                      <div class="right-tag">{{profileData?.retailerInformation?.Address}}</div>
                    </div>
                  </div>
                  <div class="row section">
                    <div class="col-sm-4">
                      <div class="left-tag">State</div>
                    </div>
                    <div class="col-sm-8">
                      <div class="right-tag">
                        {{profileData?.retailerInformation?.CityState}}-{{profileData?.retailerInformation?.PinCode}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card card-body">
              <div class="card-section">
                <div class="title">Utility Options</div>
                <div class="information">
                  <div class="row section" *ngFor="let utility of utilityOptionList; let i = index;">
                    <div class="col-sm-8">
                      <div class="left-tag">{{utility?.key}}</div>
                    </div>
                    <div class="col-sm-4">
                      <div class="right-tag"><span class="highlight">{{utility?.value ? 'Yes' : 'No'}}</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="card card-body">
              <div class="card-section">
                <div class="title">DMT Charges</div>
                <p-table class="table-home" #dmtChargesTable [value]="dmtChargesList" dataKey="id" [rowHover]="true"
                  [rows]="20" [showCurrentPageReport]="true" [rowsPerPageOptions]="[20,50,100]"
                  [loading]="commonService.isLoader" [paginator]="true"
                  currentPageReportTemplate="{first} - {last} of {totalRecords}" [filterDelay]="0"
                  [globalFilterFields]="['wallet', 'amount','remark','date','status']">
                  <ng-template pTemplate="caption">
                    <div class="row table-header">
                      <div class="col-sm-3 text-right">
                        <p-calendar class="p-calendar" dateFormat="dd-mm-yy" [showIcon]="true" name="fromDt"
                          [(ngModel)]="fromDt" dateFormat="dd-mm-yy" placeholder="From Date">
                        </p-calendar>
                      </div>
                      <div class="col-sm-3 text-right">
                        <p-calendar class="p-calendar" [showIcon]="true" name="toDt" [(ngModel)]="toDt"
                          dateFormat="dd-mm-yy" placeholder="To Date"></p-calendar>
                      </div>
                      <div class="col-sm-2">
                        <button type="button" (click)="fetchDmtCharges()" class="btn btn-primary w-20">Search</button>
                      </div>
                      <div class="col-sm-4 text-right">
                        <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                        <input pInputText class="form-control" type="text"
                          (input)="dmtChargesTable.filterGlobal(changeText($event.currentTarget), 'contains')"
                          placeholder="Global Search" />
                      </div>
                    </div>
                  </ng-template>
                  <ng-template pTemplate="header">
                    <tr>
                      <th>S.N.</th>
                      <th>Type</th>
                      <th>Rate</th>
                      <th>RT Commission</th>
                      <th>DS Commission</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-cp let-i="rowIndex">
                    <tr class="p-selectable-row">
                      <td>{{i+1}}.</td>
                      <td>{{cp?.Category}}</td>
                      <td>{{cp?.Rate}}</td>
                      <td>{{cp?.RtComm}}</td>
                      <td>{{cp?.DistComm}}</td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="5">No records found.</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card card-body">
              <div class="card-section">
                <div class="title">Identity Details</div>
                <div class="information">
                  <div class="row section">
                    <div class="col-sm-4">
                      <div class="left-tag"><strong>ID Name</strong></div>
                    </div>
                    <div class="col-sm-8">
                      <div class="right-tag"><strong>Download</strong></div>
                    </div>
                  </div>
                  <div class="row section">
                    <div class="col-sm-4">
                      <div class="left-tag">Pan Card</div>
                    </div>
                    <div class="col-sm-8">
                      <div class="right-tag"><span class="download">[Download]</span></div>
                    </div>
                  </div>
                  <div class="row section">
                    <div class="col-sm-4">
                      <div class="left-tag">Aadhar Card</div>
                    </div>
                    <div class="col-sm-8">
                      <div class="right-tag"><span class="download">[Download]</span></div>
                    </div>
                  </div>
                  <div class="row section">
                    <div class="col-sm-4">
                      <div class="left-tag">Pan Number</div>
                    </div>
                    <div class="col-sm-8">
                      <div class="right-tag"><span class="download">[Download]</span></div>
                    </div>
                  </div>
                  <div class="row section">
                    <div class="col-sm-4">
                      <div class="left-tag">GST Number</div>
                    </div>
                    <div class="col-sm-8">
                      <div class="right-tag"><span class="download">[Download]</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="card card-body">
              <div class="card-section">
                <div class="title">Utility Charges</div>
                <p-table class="table-home" #utilityChargesTable [value]="utilityChargesList" dataKey="id"
                  [rowHover]="true" [rows]="20" [showCurrentPageReport]="true" [rowsPerPageOptions]="[20,50,100]"
                  [loading]="commonService.isLoader" [paginator]="true"
                  currentPageReportTemplate="{first} - {last} of {totalRecords}" [filterDelay]="0"
                  [globalFilterFields]="['wallet', 'amount','remark','date','status']">
                  <ng-template pTemplate="caption">
                    <div class="row table-header">
                      <div class="col-sm-3 text-right">
                        <p-calendar class="p-calendar" dateFormat="dd-mm-yy" [showIcon]="true" name="fromDt"
                          [(ngModel)]="fromDt" dateFormat="dd-mm-yy" placeholder="From Date">
                        </p-calendar>
                      </div>
                      <div class="col-sm-3 text-right">
                        <p-calendar class="p-calendar" [showIcon]="true" name="toDt" [(ngModel)]="toDt"
                          dateFormat="dd-mm-yy" placeholder="To Date"></p-calendar>
                      </div>
                      <div class="col-sm-2">
                        <button type="button" (click)="fetchUtilityCharges()"
                          class="btn btn-primary w-20">Search</button>
                      </div>
                      <div class="col-sm-4 text-right">
                        <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                        <input pInputText class="form-control" type="text"
                          (input)="dmtChargesTable.filterGlobal(changeText($event.currentTarget), 'contains')"
                          placeholder="Global Search" />
                      </div>
                    </div>
                  </ng-template>
                  <ng-template pTemplate="header">
                    <tr>
                      <th>S.N.</th>
                      <th>Type</th>
                      <th>Rate</th>
                      <th>RT Commission</th>
                      <th>DS Commission</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-cp let-i="rowIndex">
                    <tr class="p-selectable-row">
                      <td>{{i+1}}.</td>
                      <td>{{cp?.Category}}</td>
                      <td>{{cp?.Rate}}</td>
                      <td>{{cp?.RtComm}}</td>
                      <td>{{cp?.DistComm}}</td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="5">No records found.</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
