<app-admin-layout></app-admin-layout>
<div id="main-content">
    <div class="block-header">
        <div class="row clearfix">
            <div class="col-md-6 col-sm-12">
                <h2>OFF LINE BILL</h2>
            </div>
            <div class="col-md-6 col-sm-12 text-right">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"></a></li>
                    
                </ul>
            </div>
        </div>
    </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <div class="card card-body">
                
                <p-tabView (onChange)="handleChange($event)">
                  <p-tabPanel header="BBPS">
                    <ng-container *ngTemplateOutlet="statementTemplate"></ng-container>
                  </p-tabPanel>
                </p-tabView>
              </div>
            </div>
          </div>
        </div>
      </div>
  
  
  <ng-template #statementTemplate>
    <p-table class="table-home table-wrapper-commision" #dt [value]="statementList"  [rowHover]="true"
      [rows]="50" [showCurrentPageReport]="true" [(selection)]="selectedBeneficiary" [rowsPerPageOptions]="[50,100,200,500]" [loading]="commonService.isLoader"
      [paginator]="true" currentPageReportTemplate="{first} - {last} of {totalRecords}" [filterDelay]="0"
      [globalFilterFields]="['txn_no','utr','mode_of_payment','trasaction_date','narration','beneficiary_number','beneficiary_acc','bank']">
      <ng-template pTemplate="caption">
        <div class="row table-header">
          <div class="col-md-3 col-sm-6 pb-1">
            <ng-select [virtualScroll]="true" [items]="retList" placeholder="Select User" bindLabel="desc"
            bindValue="code" name="desc" [(ngModel)]="retid" #ffff="ngModel">
          </ng-select>
          
          </div>
          <div class="col-md-2">
            <ng-select [items]="sharedMethodService.PaymentStatus" placeholder="Status" bindLabel="name" bindValue="id"
              name="isStatus" [(ngModel)]="isStatus" #Status="ngModel">
            </ng-select>
          </div>
          <div class="col-md-2 text-right">
            <p-calendar class="p-calendar" dateFormat="dd/mm/yy" [showIcon]="true" name="fromDt" [(ngModel)]="fromDt"
              placeholder="From Date">
            </p-calendar>
          </div>
          <div class="col-md-2 text-right">
            <p-calendar class="p-calendar" name="toDt" [showIcon]="true" dateFormat="dd/mm/yy" [(ngModel)]="toDt" placeholder="To Date">
            </p-calendar>
          </div>
         
          <div class="col-md-2 text-right">
            <i class="pi pi-search" style="margin:7px 4px 0 0"></i>
            <input pInputText class="form-control" type="text"
              (input)="dt.filterGlobal(changeText($event.currentTarget), 'contains')" placeholder="Global Search" />
          </div>
          <div class="col-md-3 col-sm-6">
            <button type="button" (click)="handleSearch(activeTab)"
              class="btn btn-outline-success mt-1 mr-2 btn48">Search</button>
            <button type="button" (click)="handleSearch(activeTab)" class="btn btn-outline-dark mt-1 btn48">Export</button>
    
          </div>
          
          <div class="col-sm-4 pt-2">            
            <ng-select [items]="pipeList" bindLabel="apiName" placeholder="API Provider"  name="apiId" bindValue="apiId"
            [(ngModel)]="serviceData.apiId"  #apiId="ngModel" required>
           </ng-select>         
          </div>  
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
            <!-- <th></th> -->
          <th>S.R.</th>
          <th pSortableColumn="txn_no">
            <div class="p-d-flex p-jc-between p-ai-center">
              Transaction#
              <p-sortIcon field="txn_no"></p-sortIcon>
              <p-columnFilter type="text" field="txn_no" display="menu" class="p-ml-auto">
              </p-columnFilter>
            </div>
          </th>
          <th pSortableColumn="trasaction_date">
            <div class="p-d-flex p-jc-between p-ai-center">
              Tran Date
              <p-sortIcon field="trasaction_date"></p-sortIcon>
            </div>
          </th>
          <th pSortableColumn="updatedOn">
            <div class="p-d-flex p-jc-between p-ai-center">
              UpdatedOn
              <p-sortIcon field="updatedOn"></p-sortIcon>
            </div>
          </th>
          <th pSortableColumn="beneficiary_number">
            <div class="p-d-flex p-jc-between p-ai-center">
               User Name
              <p-sortIcon field="beneficiary_number"></p-sortIcon>
            </div>
          </th>
          <th pSortableColumn="beneficiary_number">
            <div class="p-d-flex p-jc-between p-ai-center">
                Name/Mobile
              <p-sortIcon field="beneficiary_number"></p-sortIcon>
            </div>
          </th>
  
          <th pSortableColumn="narration">
            <div class="p-d-flex p-jc-between p-ai-center">
                Naration
            </div>
          </th>
          <th pSortableColumn="amount">
            <div class="p-d-flex p-jc-between p-ai-center">
              Tran Amount
              <p-sortIcon field="amount"></p-sortIcon>
            </div>
          </th>
          <th pSortableColumn="charge">
            <div class="p-d-flex p-jc-between p-ai-center">
              Charge
              <p-sortIcon field="charge"></p-sortIcon>
              <p-columnFilter type="text" field="charge" display="menu" class="p-ml-auto">
              </p-columnFilter>
            </div>
          </th>
  
          <th pSortableColumn="service">
            <div class="p-d-flex p-jc-between p-ai-center">
              Service
              <p-sortIcon field="service"></p-sortIcon>
  
            </div>
          </th>
  
          <th pSortableColumn="status">
            <div class="p-d-flex p-jc-between p-ai-center">
              Status
              <p-sortIcon field="status"></p-sortIcon>
            </div>
          </th>
          <th pSortableColumn="utr" *ngIf="activeTab != 4">
            <div class="p-d-flex p-jc-between p-ai-center">
              UTR
              <p-sortIcon field="utr"></p-sortIcon>
            </div>
          </th>
          <th pSortableColumn="api_msg" *ngIf="activeTab != 4">
            <div class="p-d-flex p-jc-between p-ai-center">
              Response
              <p-sortIcon field="api_msg"></p-sortIcon>
            </div>
          </th>
         <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-cp let-i="rowIndex">
        <tr class="p-selectable-row">
            <!-- <td class="text-center">
                <p-tableCheckbox [value]="cp"></p-tableCheckbox>
              </td> -->
          <td>
            {{i+1}}.
          </td>
          <td>
            {{cp.txn_no}}
          </td>
          <td>
            {{cp.trasaction_date| date: 'dd-MM-yyyy hh:mm aa'}}
          </td>
          <td>
            {{cp.updatedOn| date: 'dd-MM-yyyy hh:mm aa'}}
          </td>
          <td>
            {{cp.UserName}}
          </td>
          <td>
            <span *ngIf="cp.service=='LIC'">{{cp.narration}} <br>{{cp.remName}}<br></span>
            <span *ngIf="cp.service=='ELECTRICITY' || cp.service=='LIC'">{{cp.toNarration}} <br></span><span>{{cp.beneficiary_acc}}</span>
          </td>
          <td>           
            {{cp.Operator}} {{cp.Service=='INSURANCE'?'-'+cp.narration:''}}
          </td>
          <td>
            {{cp.amount | number : '1.2-2'}}
          </td>
          <td>
            {{cp.charge | number : '1.2-2'}}
          </td>
          <td>
            <ng-container *ngIf="activeTab == 0">
              {{cp.service}}-{{cp.mode_of_payment | replace:'-Money-Transfer':''}}
            </ng-container>
            <ng-container *ngIf="activeTab == 1 || activeTab == 2 || activeTab == 3 || activeTab == 4 || activeTab == 5">
              {{cp.service}}
              <span *ngIf="cp.mode_of_payment=='Part-Payment'">{{cp.mode_of_payment}}</span>
            </ng-container>
  
          </td>
          <td>{{cp.status}}</td>
          <td *ngIf="activeTab != 4">{{cp.utr}}</td>
          <td *ngIf="activeTab != 4">{{cp.api_msg}}</td>
          <td> <button type="button" (click)="payNowSingle(cp);"  class="btn btn-primary w-20 mt-1">Send Bill</button></td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer">
        <tr class="p-selectable-row" *ngIf="statementList.length > 0">
          <td colspan="7" style="text-align: right;">
            <strong>Total</strong>
          </td>
          <td>
            {{totalAmount | number : '1.2-2'}}
          </td>
          <td>
            {{totalCharge | number : '1.2-2'}}
          </td>
          <td>
            {{totalCommission | number : '1.2-2'}}
          </td>
          <td *ngIf="activeTab != 0">
          </td>
          <td *ngIf="activeTab == 0">
          </td>
          <td *ngIf="activeTab != 4">
          </td>
          <td *ngIf="activeTab != 4">
          </td>
          <td>
          </td>
          
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="14">No records found.</td>
        </tr>
      </ng-template>
    </p-table>
  </ng-template>
  <p-dialog header="BILL PAYMENT" class="dailogbox" [baseZIndex]="999" [style]="{'width': '40vw'}"
  [(visible)]="isModel">
  <div class="update-form">
    <form (ngSubmit)="serviceForm.form.valid && payNow()" #serviceForm="ngForm" name="serviceForm">
      <div class="modal-body">
        <div class="row border-button">
          <div class="col-sm-12 form-group">
            <label>API Provider</label>
            <ng-select [items]="pipeList" bindLabel="apiName" placeholder="API Provider"  name="apiId" bindValue="apiId"
            [(ngModel)]="serviceData.apiId"  #apiId="ngModel" [ngClass]="{ 'is-invalid': serviceForm.submitted && apiId.invalid }" required>
           </ng-select>          
            <div *ngIf="serviceForm.submitted && apiId.invalid" class="invalid-feedback">
              <div *ngIf="apiId.errors">API Provider is required</div>
            </div>
          </div>  
          <div class="col-sm-12 form-group">
            <label>MPIN</label>
            <input type="password" class="form-control" name="mPin" [(ngModel)]="serviceData.mPin" #mPin="ngModel"
              [ngClass]="{ 'is-invalid': serviceForm.submitted && mPin.invalid }" required />
            <div *ngIf="serviceForm.submitted && mPin.invalid" class="invalid-feedback">
              <div *ngIf="mPin.errors">MPIN is required</div>
            </div>
          </div>
              
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="toggleModal()" class="btn btn-dark waves-effect">
          Close
        </button>
        <button type="submit" class="btn btn-primary waves-effect">
          Submit
        </button>
      </div>
    </form>
  </div>
</p-dialog>
  