.chat-app .chat {
  margin: 0px;
  border-right: 1px solid #f0f0f0;
}
.chat-marging{
  margin: 5PX;
}

.txt_17
{
  font-size: 20px;
  font-weight: bold;
}
.txt_12
{
  font-size: 20px;
  font-weight: bold;
}