<div id="wrapper">
   <app-admin-layout></app-admin-layout>
    <div class="content-page"
      >
      <div class="content main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                  <div class="card card-body">
                    <p-table class="table-home table-wrapper-commision" #dt [value]="beneDet" [rowHover]="true"
      [rows]="50" [showCurrentPageReport]="true" [rowsPerPageOptions]="[50,100,200,500]" [loading]="commonService.isLoader"
      [paginator]="true" currentPageReportTemplate="{first} - {last} of {totalRecords}" [filterDelay]="0"
      [globalFilterFields]="['isStatus','memberName','beneficiaryName','beneficiaryNumber','beneficiary_number','beneficiaryAcc','bank']">
      <ng-template pTemplate="caption">
        <div class="row table-header">
          <div class="col-md-2">
            <button type="button" class="btn btn-warning" (click)="openModelAP()" > Add Account <span class="fas fa-eye"></span></button>       
          </div>
          <div class="col-md-3">           
          </div>
          <div class="col-md-2 text-right">
           
          </div>
          <div class="col-md-2 text-right">
          
          </div>
          
          <div class="col-md-3 text-right">
            <i class="pi pi-search" style="margin:7px 4px 0 0"></i>
            <input pInputText class="form-control" type="text"
              (input)="dt.filterGlobal(changeText($event.currentTarget), 'contains')" placeholder="Global Search" />
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>S.R.</th>         
          <th pSortableColumn="txn_no">
            <div class="p-d-flex p-jc-between p-ai-center">
              Beneficiary Name
              <p-sortIcon field="txn_no"></p-sortIcon>
              <p-columnFilter type="text" field="txn_no" display="menu" class="p-ml-auto">
              </p-columnFilter>
            </div>
          </th>          
          <th pSortableColumn="updatedOn">
            <div class="p-d-flex p-jc-between p-ai-center">
              Beneficiary Acc
              <p-sortIcon field="updatedOn"></p-sortIcon>
            </div>
          </th>
          <th pSortableColumn="beneficiary_number">
            <div class="p-d-flex p-jc-between p-ai-center">
                Bank
              <p-sortIcon field="beneficiary_number"></p-sortIcon>
            </div>
          </th>
  
          <th pSortableColumn="narration">
            <div class="p-d-flex p-jc-between p-ai-center">
               IFSC
            </div>
          </th>        
          <th>Action</th>
         
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-cp let-i="rowIndex">
        <tr class="p-selectable-row">
          <td>
            {{i+1}}.
          </td>          
          <td>
            {{cp.BeneficiaryName }}
          </td>          
          <td>
            {{cp.BeneficiaryAcc}}           
          </td>
          <td>
            {{cp.Bank}}
          </td>
          <td>
            {{cp.Ifsc }}
          </td>          
          <td><button type="button" class="btn btn-danger" (click)="onDeleteBene(cp)" > <span class="fa fa-trash"></span></button></td>
        </tr>
      </ng-template>
     
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="14">No records found.</td>
        </tr>
      </ng-template>
    </p-table>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>
  <p-dialog header="Account Details" class="dailogbox fund-request-pop" [baseZIndex]="10000"
  [style]="{'max-width': '800px'}" [(visible)]="isModel">
  <div class="update-form">
    <form (ngSubmit)="f.form.valid && onAddBene()" #f="ngForm" name="fundRequestForm">
      <div class="modal-body">
        <div class="row border-button">
          
          <div class="col-sm-6 form-group">
            <label>Account Number</label>
            <input type="text" class="form-control" maxlength="25" name="beneficiaryAcc"
                            [(ngModel)]="modalData.beneficiaryAcc" #beneficiaryAcc="ngModel"
                            [ngClass]="{ 'is-invalid': f.submitted && beneficiaryAcc.invalid }"
                            placeholder="Bank Account No" required />
                          <div *ngIf="f.submitted && beneficiaryAcc.invalid" class="invalid-feedback">
                            <div *ngIf="beneficiaryAcc.errors">Bank account number is required</div>
                          </div>
          </div>         
          <div class="col-sm-6 form-group">
            <label>IFSC</label>
            <input type="text" class="form-control" name="ifsc" [(ngModel)]="modalData.ifsc"
                                #ifsc="ngModel" [ngClass]="{ 'is-invalid': f.submitted && ifsc.invalid }"
                                placeholder="IFSC" required />
                              <div *ngIf="f.submitted && ifsc.invalid" class="invalid-feedback">
                                <div *ngIf="ifsc.errors">IFSC is required</div>
                              </div>
          </div>        
          <div class="col-sm-12 form-group">
            <label>Remarks</label>
            <input type="text" class="form-control" name="remarks" [(ngModel)]="modalData.remarks"
              #remarks="ngModel" [ngClass]="{ 'is-invalid': f.submitted && remarks.invalid }"
              required />
            <div *ngIf="f.submitted && remarks.invalid" class="invalid-feedback">
              <div *ngIf="remarks.errors">Remark is required</div>
            </div>
          </div>
          
        
        </div>
      </div>
      <div class="modal-footer" style="display: block;">
        <div class="row">              
          <div class="col-sm-12 text-right"> <button type="submit" class="btn btn-primary waves-effect">Approved</button></div>
        </div>
      </div>
    </form>
  </div>
  </p-dialog>
  