<app-admin-layout></app-admin-layout>
<div id="main-content">
    <div class="block-header">
        <div class="row clearfix">
            <div class="col-md-6 col-sm-12">
                <h2>OUTLET TRANSACTION</h2>
            </div>
            <div class="col-md-6 col-sm-12 text-right">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"></a></li>
                    
                </ul>
            </div>
        </div>
    </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <div class="card card-body">
              <p-tabView (onChange)="handleChange($event)">
                <p-tabPanel header="Money Transfer">
                  <ng-container *ngTemplateOutlet="statementTemplate"></ng-container>
                </p-tabPanel>
                <p-tabPanel header="Recharge/Utility">
                  <ng-container *ngTemplateOutlet="statementTemplate"></ng-container>
                </p-tabPanel>
                <p-tabPanel header="AEPS Transactions">
                  <ng-container *ngTemplateOutlet="statementTemplate"></ng-container>
                </p-tabPanel>
                <p-tabPanel header="Credit Card">
                  <ng-container *ngTemplateOutlet="statementTemplate"></ng-container>
                </p-tabPanel>
                <p-tabPanel header="Other Transactions">
                  <ng-container *ngTemplateOutlet="statementTemplate"></ng-container>
                </p-tabPanel>
                </p-tabView>
              
            </div>
          </div>
        </div>
      </div>
    </div>


<ng-template #statementTemplate>
  <p-table class="table-home table-wrapper-commision" #dt [value]="statementList" dataKey="remitterId" [rowHover]="true"
    [rows]="50" [showCurrentPageReport]="true" [rowsPerPageOptions]="[50,100,200,500]" [loading]="commonService.isLoader"
    [paginator]="true" currentPageReportTemplate="{first} - {last} of {totalRecords}" [filterDelay]="0"
    [globalFilterFields]="['txn_no','utr','mode_of_payment','trasaction_date','narration','beneficiary_number','beneficiary_acc','bank']">
    <ng-template pTemplate="caption">
     <div class="row table-header">
      <div class="col-md-3 col-sm-6 pb-1">
        <ng-select [virtualScroll]="true" [items]="retList" placeholder="User Type" bindLabel="desc"
        bindValue="code" name="desc" [(ngModel)]="selectedMemberList" #ffff="ngModel">
      </ng-select>
      
      </div>
      <div class="col-md-3 col-sm-6 pb-1">
        <ng-select [items]="sharedMethodService.PaymentStatus" placeholder="Select User" bindLabel="name"
          bindValue="id" name="isStatus" [(ngModel)]="isStatus" #Status="ngModel">
        </ng-select>
      </div>
      <div class="col-sm-2 pb-1">
        <ng-select [items]="sharedMethodService.SearchType" placeholder="Type" bindLabel="name" bindValue="id"
          name="searchTypes" [(ngModel)]="searchType">
        </ng-select>
      </div>
      <div class="col-sm-2 pb-1">
        <input class="form-control sizing-sm" [(ngModel)]="txnNo" type="text"
          placeholder="{{searchType=='txn'?'Txn No':searchType=='acc'?'A/C No.':searchType=='send'?'Send By Mob. No.':searchType=='rcv'?'Recived Mob. No.':'Enter Txn'}}" />
      </div>
      <div class="col-md-2 col-sm-6 pb-1">
        <ng-select [items]="sharedMethodService.PaymentStatus" placeholder="Status" bindLabel="name"
          bindValue="id" name="isStatus" [(ngModel)]="isStatus" #Status="ngModel">
        </ng-select>
      </div>

      <div class="col-md-3 col-sm-6">
        <p-calendar class="p-calendar p-inputtext-sm" dateFormat="dd/mm/yy" [readonlyInput]="true" name="fromDt"
          [(ngModel)]="fromDt" [maxDate]="minDate" placeholder="From Date">
        </p-calendar>
      </div>
      <div class="col-md-3 col-sm-6">
        <p-calendar class="p-calendar p-inputtext-sm" name="toDt" [readonlyInput]="true" [minDate]="fromDt"
          [maxDate]="maxDate" dateFormat="dd/mm/yy" [(ngModel)]="toDt" placeholder="To Date">
        </p-calendar>
      </div>
      <div class="col-md-3 col-sm-6">
        <i class="pi pi-search" style="margin:7px 4px 0 0"></i>
        <input pInputText class="form-control" type="text"
          (input)="dt.filterGlobal(changeText($event.currentTarget), 'contains')" placeholder="Global Search" />
      </div>
      <div class="col-md-3 col-sm-6">
        <button type="button" (click)="handleSearch(activeTab)"
          class="btn btn-outline-success mt-1 mr-2 btn48">Search</button>
        <button type="button" (click)="handleSearch(activeTab)" class="btn btn-outline-dark mt-1 btn48">Export</button>

      </div>

      <div class="col-lg-2 col-md-2 border-success pt-1">
        <div class="testimonial4 text-center">
          <div class="active item">
            <blockquote class="warning">
              <h6 class="mb-2">Total Transactions</h6>
              <h5 class="text-success">{{statementList?.length}}</h5>

            </blockquote>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 border-success pt-1">
        <div class="testimonial4 text-center">
          <div class="active item">
            <blockquote class="warning">
              <h6 class="mb-2">Total Amount</h6>
              <h5 class="text-success"> {{totalAmount | number : '1.2-2'}}</h5>

            </blockquote>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 border-success pt-1">
        <div class="testimonial4 text-center">
          <div class="active item">
            <blockquote class="warning">
              <h6 class="mb-2">Total Charge</h6>
              <h5 class="text-success"> {{totalCharge | number : '1.2-2'}}</h5>

            </blockquote>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 border-success pt-1">
        <div class="testimonial4 text-center">
          <div class="active item">
            <blockquote class="warning">
              <h6 class="mb-2">Total Commission</h6>
              <h5 class="text-success"> {{totalCommission | number : '1.2-2'}}</h5>

            </blockquote>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 border-success pt-1">
        <div class="testimonial4 text-center">
          <div class="active item">
            <blockquote class="warning">
              <h6 class="mb-2">Refund Pending</h6>
              <h5 class="text-success">111</h5>

            </blockquote>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 border-success pt-1">
        <div class="testimonial4 text-center">
          <div class="active item">
            <blockquote class="warning">
              <h6 class="mb-2">Refunded</h6>
              <h5 class="text-success">111</h5>

            </blockquote>
          </div>
        </div>

      </div>
    </div>
    </ng-template>








    <ng-template pTemplate="header">
      <tr>
        <th>S.R.</th>
        <th pSortableColumn="txn_no">
          <div class="p-d-flex p-jc-between p-ai-center">
            Transaction#
            <p-sortIcon field="txn_no"></p-sortIcon>
           </div>
        </th>
        <th pSortableColumn="trasaction_date">
          <div class="p-d-flex p-jc-between p-ai-center">
            Tran Date
           </div>
        </th>
        <th pSortableColumn="updatedOn">
          <div class="p-d-flex p-jc-between p-ai-center">
            UpdatedOn
          </div>
        </th>
        <th pSortableColumn="beneficiary_number">
          <div class="p-d-flex p-jc-between p-ai-center">
            <ng-container *ngIf="activeTab == 4">
              Send By
            </ng-container>
            <ng-container *ngIf="activeTab != 4">
              Name/Mobile
            </ng-container>
           </div>
        </th>

        <th pSortableColumn="narration">
          <div class="p-d-flex p-jc-between p-ai-center">
            <ng-container *ngIf="activeTab == 0 || activeTab == 9 || activeTab == 11">
              Beneficiary
            </ng-container>
            <ng-container *ngIf="activeTab == 1 || activeTab == 2 || activeTab == 3">
              Operator
            </ng-container>
            <ng-container *ngIf="activeTab == 5 || activeTab == 6 || activeTab == 7 || activeTab == 8">
              Naration
            </ng-container>
            <ng-container *ngIf="activeTab == 4">
              Received By
            </ng-container>           
           </div>
        </th>
        <th pSortableColumn="amount">
          <div class="p-d-flex p-jc-between p-ai-center">
            Tran Amount
           </div>
        </th>
        <th pSortableColumn="charge">
          <div class="p-d-flex p-jc-between p-ai-center">
            Charge
           </div>
        </th>
        <th pSortableColumn="service">
          <div class="p-d-flex p-jc-between p-ai-center">
           {{activeTab==4?'Remarks':'Service'}} 
           </div>
        </th>
        <th pSortableColumn="status">
          <div class="p-d-flex p-jc-between p-ai-center">
            Status
           </div>
        </th>
        <th pSortableColumn="utr" *ngIf="activeTab != 4">
          <div class="p-d-flex p-jc-between p-ai-center">
            UTR
           </div>
        </th>
        <th pSortableColumn="api_msg" *ngIf="activeTab != 4">
          <div class="p-d-flex p-jc-between p-ai-center">
            Response
           </div>
        </th>
        <th *ngIf="activeTab==0">Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cp let-i="rowIndex">
      <tr class="p-selectable-row">
        <td>         
         <span class="srnumber"> {{i+1}}. </span> 
        </td>
        <td>
          <span class="p-column-title">Transaction:</span>
          {{cp.txn_no}}
        </td>
        <td>
          <span class="p-column-title"> Tran Date:</span>
          {{cp.trasaction_date| date: 'dd-MM-yyyy hh:mm aa'}}
        </td>
        <td>
          <span class="p-column-title"> UpdatedOn:</span>
          {{cp.updatedOn| date: 'dd-MM-yyyy hh:mm aa'}}
        </td>
        <td>
          <span class="p-column-title">
          <ng-container *ngIf="activeTab == 4">
            Send By
          </ng-container>
          <ng-container *ngIf="activeTab != 4">
            Name/Mobile
          </ng-container>
        </span>
          <ng-container *ngIf="activeTab == 0 || activeTab == 9 || activeTab == 10 || activeTab == 11">
            {{cp.remName+ ' '+cp.beneficiary_number }}
          </ng-container>
          <ng-container *ngIf="activeTab == 1 || activeTab == 2 || activeTab == 3">            
            <span *ngIf="cp.service=='LIC'">{{cp.narration}} <br>{{cp.remName}}<br></span>
            <span *ngIf="cp.service=='ELECTRICITY' || cp.service=='LIC'">{{cp.toNarration}} <br></span><span>{{cp.beneficiary_acc}}</span>
          </ng-container>
          <ng-container *ngIf="activeTab == 4">
            {{ cp.toNarration}}
          </ng-container>
          <ng-container *ngIf="cp.service=='Fund-Request'">
            {{cp.beneficiary_number +':'+cp.Intent }}
          </ng-container>
          <ng-container *ngIf="cp.service=='PAYTM' || cp.service=='CC' || cp.service=='EMI' || cp.service=='FASTAG'">
            {{cp.beneficiary_number}}
          </ng-container>
          <ng-container *ngIf="cp.service=='PG-Request'">
            {{ cp.beneficiary_number}}
          </ng-container>
          <ng-container *ngIf="cp.service=='AEPS' && cp.mode_of_payment=='AEPS-BT'">
            {{cp.toNarration}}
          </ng-container>
          <ng-container *ngIf="cp.service=='AEPS' && cp.mode_of_payment=='AEPS-CW'">
            {{cp.narration}}
          </ng-container>
        </td>
        <td>
          <span class="p-column-title">
            <ng-container *ngIf="activeTab == 0 || activeTab == 10">
              Beneficiary
            </ng-container>
            <ng-container *ngIf="activeTab == 1 || activeTab == 2 || activeTab == 3">
              Operator
            </ng-container>
            <ng-container *ngIf="activeTab == 5 || activeTab == 6 || activeTab == 7 || activeTab == 8">
              Naration
            </ng-container>
            <ng-container *ngIf="activeTab == 4">
              Received By
            </ng-container>           
          </span>
          <ng-container   *ngIf="(activeTab == 0 || activeTab == 11) && (cp.service=='QUICK_PAY' || cp.service=='TATKAL_PAY')">
          <span class="text-red">{{cp.narration + ' ' +cp.beneficiary_acc +' '+ (cp.toNarration==null?'':cp.toNarration)}}</span>  
          </ng-container>
          <ng-container  *ngIf="cp.service=='Ind-Nep'">
            <span class="text-red">{{cp.remName + ' ' +cp.beneficiary_acc +' '+ cp.mode_of_payment}}</span>  
          </ng-container>
          <ng-container   *ngIf="cp.service=='AEPS-BANK'">
            <span class="text-red">{{'A/C:'+ cp.beneficiary_acc +' '+ (cp.toNarration==null?'':cp.toNarration)}}</span>  
            </ng-container>
          <ng-container  *ngIf="activeTab == 0 && cp.service=='Verification'">
            <span class="text-red">{{cp.narration}}</span>
          </ng-container>
          <ng-container *ngIf="activeTab == 1 || activeTab == 2 || activeTab == 3">
            {{cp.Operator}} {{cp.Service=='INSURANCE'?'-'+cp.narration:''}}
          </ng-container>
          <ng-container *ngIf="activeTab ==4">
            {{cp.narration}}
          </ng-container>
          <ng-container *ngIf="cp.service=='Fund-Request'">
            <span>Fund Request :</span> {{ cp.narration + ' Mobile# '+ cp.beneficiary_acc+', '+ cp.toNarration}}
          </ng-container>
          <ng-container *ngIf="cp.service=='PG-Request'">
            <span>Payment Gateway:</span> {{ cp.narration + ' Mobile# '+ cp.beneficiary_acc+', '+ cp.toNarration }}
          </ng-container>
          <ng-container *ngIf="cp.service=='AEPS' && cp.mode_of_payment=='AEPS-BT'">
            <span>AEPS Balance Transfer To Wallet:</span> {{ cp.toNarration}}
          </ng-container>
          <ng-container *ngIf="cp.service=='AEPS' && cp.mode_of_payment=='AEPS-CW'">
            <span>AEPS Commission:</span> {{ cp.narration}}
          </ng-container>
          <ng-container *ngIf="cp.service=='PAYTM' && cp.mode_of_payment=='CMS'">
            <span>Paytm Wallet Topup:</span> {{ cp.beneficiary_acc}}
          </ng-container>
          <ng-container *ngIf="cp.service=='CC' && cp.mode_of_payment=='CMS'">
            <span>Credit Card Payment:</span> {{ cp.beneficiary_acc}}
          </ng-container>
          <ng-container *ngIf="cp.service=='EMI' && cp.mode_of_payment=='CMS'">
            <span>EMI Payment:</span> {{ cp.toNarration+' '+ cp.beneficiary_acc+','+cp.Operator}}
          </ng-container>
          <ng-container *ngIf="cp.service=='FASTAG' && cp.mode_of_payment=='CMS'">
            <span>Fastag:</span> {{ cp.toNarration+' '+ cp.beneficiary_acc+','+cp.Operator}}
          </ng-container>
        </td>
        <td>
          <span class="p-column-title">Tran Amount</span>
          {{cp.amount | number : '1.2-2'}}
        </td>
        <td>
          <span class="p-column-title">Charge</span>
          {{cp.charge | number : '1.2-2'}}
        </td>
        <td>
          <span class="p-column-title"> {{activeTab==4?'Remarks':'Service'}} </span>         
          <ng-container *ngIf="activeTab == 0 || activeTab == 9 || activeTab == 11">
            {{cp.service}}-{{cp.mode_of_payment | replace:'-Money-Transfer':''}}
          </ng-container>
          <ng-container *ngIf="activeTab == 1 || activeTab == 2 || activeTab == 3 || activeTab == 5 || activeTab == 10">
            {{cp.service}}
            <span *ngIf="cp.mode_of_payment=='Part-Payment' && cp.service!='IGL-Commercial-Bill'">{{cp.mode_of_payment}}</span>
          </ng-container>
          <ng-container *ngIf="activeTab == 4">
            {{cp.Intent}}
          </ng-container>
          <ng-container *ngIf="activeTab == 6">
            <span> {{cp.mode_of_payment +' : '+ cp.Intent}}</span>
          </ng-container>
          <ng-container *ngIf="activeTab == 7 || activeTab == 8">
            <span> {{cp.service}}</span>
          </ng-container>
        </td>
        <td class="text-center">
          <span class="p-column-title">Status </span> 
          {{cp.status}} 
       </td>
        <td *ngIf="activeTab != 4">
          <span class="p-column-title">UTR </span> 
          {{cp.mode_of_payment=='Part-Payment'?'SoulPay':cp.utr}}
        </td>
        <td *ngIf="activeTab != 4"> 
          <span class="p-column-title">Response </span> {{cp.api_msg}}
        </td>
        <td class="text-center" *ngIf="activeTab==0"> 
          <button type="button" 
          *ngIf="(cp?.api_responce_status=='TransactionSentToBank' || cp?.api_responce_status=='Pending' 
          || cp?.api_responce_status=='TransactiononHold' || cp?.api_responce_status=='UnderProcess') 
          && (cp.ApiName=='08d94c23-18bf-4ce5-8a9f-a31aac9a19f7' || cp.ApiName=='PaySprint ' || cp.ApiName=='PaySprint')" 
          (click)="checkPaysprintTxnStatus(cp)" class="btn btn-primary">Get Status</button>
        </td>      
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr class="p-selectable-row" *ngIf="statementList.length > 0">
        <td colspan="6" style="text-align: right;">
          <strong>Total</strong>
        </td>
        <td>
          {{totalAmount | number : '1.2-2'}}
        </td>
        <td>
          {{totalCharge | number : '1.2-2'}}
        </td>
        <td>
          {{totalCommission | number : '1.2-2'}}
        </td>
        <td *ngIf="activeTab != 0">
        </td>
        <td *ngIf="activeTab == 0">
        </td>
        <td *ngIf="activeTab != 4">
        </td>
        <td *ngIf="activeTab != 4">
        </td>
        <td *ngIf="activeTab != 4">
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="14">No records found.</td>
      </tr>
    </ng-template>
  </p-table>
</ng-template>
