<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-left">
      <div class="navbar-btn">
        <a href="javascript:void(0)" (click)="openlink('/merchant/dashboard')">
          <img src="assets/images/logo.png" alt="Logo" class="img-fluid logo hidden-lg">
          <img src="assets/images/favicon.png" alt="Logo" class="img-fluid logo mobile-show">
        </a>
      </div>
      <a href="javascript:void(0);" (click)="onmenu();" class="icon-menu btn-toggle-fullwidth pr-2 f-24 submenu"><i class="icon-list"></i></a>
      <ul class="nav navbar-nav hidden-lg mobile-show logo-pading">
        <li> <a href="javascript:void(0);" (click)="onmenumobile();" class="btn-toggle-offcanvas"><i class="icon-list"></i></a></li>
      </ul>
    </div>
    <div class="navbar-right">
      <div id="navbar-menu ">
        <ul class="nav navbar-nav">
          <li>
            <div class="top-container">
              <div class="ml-3 card-border">
                <h5 class="name">Distributor</h5>
                <p class="mail m-b-0">{{commonService.asmData?.dsMemberName}} - {{commonService.asmData?.dsMobileNo}}</p>
              </div>
            </div>
          </li>
          <li (click)="commonService.fetchWalletDetails()">
            <div class="top-container">
              <div class="ml-3 card-border">
                <h5 class="name">Wallet: &#8377;{{pramwallet?.walleT_BALANCE ?pramwallet?.walleT_BALANCE.toFixed(2) : 0}}</h5>
                <p class="mail m-b-0">AEPS: &#8377;{{pramwallet?.aepsBalance ?pramwallet?.aepsBalance.toFixed(2) : 0}}</p>
              </div>
            </div>
          </li>
          <li>
            <div class="top-container text-white">
              <div class="ml-3 card-border">
                <h5 class="name">{{commonService.userPram?.companyName}}</h5>
                <p class="mail m-b-0">{{commonService.userPram?.userType+''+commonService.userPram?.id}} | {{commonService.userPram?.rmn}}</p>
              </div>
            </div>
          </li>
          <li>
            <div class="top-container text-white">
              <div class="ml-3">
                <h5 class="name"><a href="javascript:void(0)" class="icon-menu" (click)="commonService.logout()"><i class="icon-power"></i></a></h5>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div id="left-sidebar" class="sidebar {{activeMainmobile==true?'sidebarleft':''}}">
  <div class="navbar-brand">
    <a href="javascript:void(0)"><img src="assets/images/sambhav_pay_logo2.png" alt="Logo" class="img-fluid logo"></a>
    <button type="button" (click)="onmenuclose();" class="btn-toggle-offcanvas btn btn-sm btn-default float-right {{activeMainmobile==true?'btn-toggle-mobile':''}}"><i class="lnr lnr-menu fa fa-chevron-circle-left"></i></button>
  </div>
  <div class="sidebar-scroll">
    <nav id="left-sidebar-nav" class="sidebar-nav">
      <ul id="main-menu" class="metismenu">
        <li class="active"><a href="javascript:void(0)" (click)="openlink('/merchant/dashboard')"><i class="icon-home"></i><span>Dashboard</span></a></li>
        <li><a href="javascript:void(0)" (click)="openlink('/merchant/business_summary')"><i class="icon-calendar"></i><span>Bussiness Summary</span></a></li>
        <li>
          <a href="javascript:void(0)" (click)="openMenu()"><i class="icon-globe"></i><span>Transaction</span><span class="arrow-right" style="float: right;text-align: right;"><i class="fa fa-angle-down"></i></span></a>
          <ul *ngIf="activeMainMenu">
            <li><a href="javascript:void(0)" (click)="openlink('/merchant/transaction-list')">Money Transaction</a></li>
            <li><a href="javascript:void(0)" (click)="openlink('/merchant/transaction-list/recharge-utility')">Recharge/Utility</a></li>
          </ul>
        </li>
        <li>
          <a href="javascript:void(0)" (click)="openlink('/merchant/account-list')"><i class="icon-notebook"></i><span>Account Statement</span></a>
        </li>
        <li>
          <a href="javascript:void(0)" (click)="openMenu4()"><i class="icon-globe"></i><span>AEPS Report</span><span class="arrow-right" style="float: right;text-align: right;"><i class="fa fa-angle-down"></i></span></a>
          <ul *ngIf="activeMainMenu4">
            <li><a href="javascript:void(0)" (click)="openlink('rt/aeps-report')">Transaction</a></li>
            <li><a href="javascript:void(0)" (click)="openlink('/merchant/aeps-report/statement')">Statement</a></li>
          </ul>
        </li>
        <li>
          <a href="javascript:void(0)" (click)="openMenu2()"><i class="icon-globe"></i><span>Money Request</span><span class="arrow-right" style="float: right;text-align: right;"><i class="fa fa-angle-down"></i></span></a>
          <ul *ngIf="activeMainMenu2">
            <li><a href="javascript:void(0)" (click)="openlink('/merchant/money-request/newrequest')">New Request</a></li>
            <li><a href="javascript:void(0)" (click)="openlink('/merchant/money-request')">Request Pending</a></li>
            <li><a href="javascript:void(0)" (click)="openlink('/merchant/money-request')">All Request</a></li>
          </ul>
        </li>
        <li><a href="javascript:void(0)" (click)="openlink('/merchant/pendingrefund')"><i class="fa fa-refresh"></i><span>Refund Pending</span></a></li>
        <li>
          <a href="javascript:void(0)" (click)="openMenu2()"><i class="icon-settings"></i><span>Setting</span><span class="arrow-right" style="float: right;text-align: right;"><i class="fa fa-angle-down"></i></span></a>
          <ul *ngIf="activeMainMenu2">
            <li><a href="javascript:void(0)" (click)="openlink('/merchant/money-request/newrequest')">BC Certificate</a></li>
            <li><a href="javascript:void(0)" (click)="openlink('/merchant/money-request')">Eazy Deposit Slip</a></li>
            <li><a href="javascript:void(0)" (click)="openlink('/merchant/profile')">Profile</a></li>
            <li><a href="javascript:void(0)" (click)="openlink('/merchant/setting/passwordchange')">Reset Password</a></li>
            <li><a href="javascript:void(0)" (click)="openlink('/merchant/setting/mpinchange')">Reset MPIN</a></li>
            <li><a href="javascript:void(0)" (click)="commonService.logout()">LogOut</a></li>
          </ul>
        </li>
        <li>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="page-loader-wrapper" *ngIf="commonService.isLoader">
  <div class="loader">
    <div class="m-t-30"><img src="assets/images/logo.png" width="100" height="40" alt="logo"></div>
    <div id="loader">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="loading"></div>
    </div>
  </div>
</div>
