.wallet
{
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 7px;
      padding-left: 7px;
    padding-left: 0;
  }
.f-24
{
    font-size: 20px;
    margin-right: 5px;
}
.txt-bold
{
  font-size: 20px;
  font-weight: bold;
  color: #20ec2d;
}
.user-account .user_div {
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  border-radius: 90px;
  padding: 4px;
  display: inline-block;
  border-radius: 90px;
  border: none  !important;
}

.top-container{
	display: flex;
	text-align: left;
  padding-right: 14px;
}
.profile-image{
	border-radius: 22px;
}
.name{
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	position: relative;
	top: 4px;
}
.mail{
	font-size: 14px;
	color: #fff;
	position: relative;
	top: 2px;
}