<!-- <div id="global-loader" *ngIf="commonService.isLoader">
  <div class="whirly-loader"> </div>
</div> -->
<app-retailer-layout></app-retailer-layout>
<div  id="main-content">
  <div class="container-fluid">
    <div class="page-header">
      <div class="page-title">
        <h4>Part Payment Statement</h4>
        <h6>Dasboard / Part Payment Statement</h6>
      </div>
      <!-- <div class="page-btn">
        <a href="addcategory.html" class="btn btn-added">
          Create New
        </a>
      </div> -->
    </div>
  </div>
</div>
