<app-retailer-layout></app-retailer-layout>
<div id="main-content">
  <div class="block-header">
    <div class="row clearfix">
      <div class="col-md-6 col-sm-12">
        <h2>Dashboard</h2>
      </div>
      <div class="col-md-6 col-sm-12 text-right">
        <ul class="breadcrumb" *ngIf="0">
          <li>
            <div class="btn-group ml-1 mo-mb-2 float-right">
              <button type="button" class="btn btn-sm btn-dark waves-light waves-effect dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                All Services
              </button>
              <div class="dropdown-menu" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-48px, 34px, 0px);" x-placement="bottom-start">
                <a class="dropdown-item" routerLink="/administrator/product-list">Recharge</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0)">DMT</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0)">KYC PAY</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/administrator/bbps-service-manager">BBPS</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/administrator/aeps-service-manager">AEPS</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/administrator/cms-service-manager">CMS</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/administrator/vendor-service-manager">VENDOR PAY</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/administrator/api-service">API Serives</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/administrator/travel-service-manager">TRAVEL</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/administrator/bbps-live-service-manager">BBPS LIVE</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/administrator/upi-payout-service">UPI</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <div class="row clearfix">
          <div class="col-lg-2 col-sm-3 mobile-menu" (click)="navigatePage('/merchant/money-transfer')">
            <div class="card">
              <div class="user-account">
                <div class="user_div">
                  <img class="img-size" src="assets/images/money_transfer.png">
                </div>
                <div class="dropdown rt-ds">
                  <span>Money Transfer</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-sm-3 mobile-menu" (click)="navigatePage('/merchant/merchant-transfer')">
            <div class="card">
              <div class="user-account">
                <div class="user_div">
                  <img class="img-size" src="assets/images/wallet-transfer.svg">
                </div>
                <div class="dropdown rt-ds">
                  <span>Vendor Pay</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-sm-3 mobile-menu" (click)="navigatePage('/merchant/aeps')">
            <div class="card">
              <div class="user-account">
                <div class="user_div">
                  <img class="img-size" src="assets/images/aeps2.png">
                </div>
                <div class="dropdown rt-ds">
                  <span>AEPS</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-sm-3 mobile-menu" (click)="navigatePage('/merchant/mobilerecharge')">
            <div class="card">
              <div class="user-account">
                <div class="user_div">
                  <img class="img-size" src="assets/images/mobile_recharge.png">
                </div>
                <div class="dropdown rt-ds">
                  <span>Recharge</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-sm-3 mobile-menu" (click)="navigatePage('/merchant/bbps')">
            <div class="card">
              <div class="user-account">
                <div class="user_div">
                  <img class="img-size" src="assets/images/bbps.svg">
                </div>
                <div class="dropdown rt-ds">
                  <span>BBPS</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-sm-3 mobile-menu">
            <div class="card">
              <div class="user-account">
                <div class="user_div">
                  <img class="img-size" src="assets/images/travel_icon1.png">
                </div>
                <div class="dropdown rt-ds">
                  <span>Travel</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-sm-3 mobile-menu">
            <div class="card">
              <div class="user-account">
                <div class="user_div">
                  <img class="img-size" src="assets/images/cc_icon.png">
                </div>
                <div class="dropdown rt-ds">
                  <span>Credit Card</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-sm-3 mobile-menu" (click)="navigatePage('/merchant/wallet-to-wallet')">
            <div class="card">
              <div class="user-account">
                <div class="user_div">
                  <img class="img-size" src="assets/images/fund_icon.png">
                </div>
                <div class="dropdown rt-ds">
                  <span>Wallet</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-sm-3 mobile-menu">
            <div class="card">
              <div class="user-account">
                <div class="user_div">
                  <img class="img-size" src="assets/images/lic_icon.jpg">
                </div>
                <div class="dropdown rt-ds">
                  <span>LIC</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-sm-3 mobile-menu">
            <div class="card">
              <div class="user-account">
                <div class="user_div">
                  <img class="img-size" src="assets/images/insurance.svg">
                </div>
                <div class="dropdown rt-ds">
                  <span>Insurance</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-sm-3 mobile-menu">
            <div class="card">
              <div class="user-account">
                <div class="user_div">
                  <img class="img-size" src="assets/images/cms.svg">
                </div>
                <div class="dropdown rt-ds">
                  <span>CMS</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-sm-3 mobile-menu">
            <div class="card">
              <div class="user-account">
                <div class="user_div">
                  <img class="img-size" src="assets/images/natural-gas.svg">
                </div>
                <div class="dropdown rt-ds">
                  <span>Fastag</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card top_counter">
              <div class="body">
                <div class="icon text-warning"><i class="fa fa-area-chart"></i></div>
                <div class="container-fluid">
                  <div class="text">Money Transfer</div>
                  <h5 class="number">{{recentList?.FundsTransfers| currency : 'INR' : true : '1.0-0'}}</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card top_counter">
              <div class="body">
                <div class="icon text-warning"><i class="fa fa-area-chart"></i></div>
                <div class="container-fluid">
                  <div class="text">Fund Request</div>
                  <h5 class="number">{{recentList?.FundsReceived | currency : 'INR' : true : '1.0-0'}}</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card top_counter">
              <div class="body">
                <div class="icon text-warning"><i class="fa fa-area-chart"></i></div>
                <div class="container-fluid">
                  <div class="text">Recharge/Utilities</div>
                  <h5 class="number">{{recentList?.Utilities--recentList?.Recharges | currency : 'INR' : true : '1.0-0'}}</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card top_counter bg-green">
              <div class="body">
                <div class="icon text-warning"><i class="fa fa-area-chart"></i></div>
                <div class="container-fluid">
                  <div class="text">AEPS</div>
                  <h5 class="number">{{recentList?.AepsAmount| currency : 'INR' : true : '1.0-0'}}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="row clearfix">
          <div class="col-md-6">
            <div class="card top_counter">
              <div class="body text-center">
                <div class="text">Money Transfer</div>
                <h5 class="number">{{recentList?.FundsTransfers | currency : 'INR' : true : '1.0-0'}}</h5>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card top_counter">
              <div class="body  text-center">
                <div class="text">Fund</div>
                <h5 class="number">{{recentList?.FundsReceived | currency : 'INR' : true : '1.0-0'}}</h5>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card top_counter">
              <div class="body  text-center">
                <div class="text">Utilities Paid</div>
                <h5 class="number">{{recentList?.Utilities--recentList?.Recharges | currency : 'INR' : true : '1.0-0'}}</h5>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card top_counter bg-green">
              <div class="body  text-center">
                <div class="text">AEPS</div>
                <h5 class="number">{{recentList?.AepsAmount| currency : 'INR' : true : '1.0-0'}}</h5>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card top_counter bg-green">
              <div class="body  text-center">
                <div class="text">In Pocess</div>
                <h5 class="number">{{recentList?.AepsAmount| currency : 'INR' : true : '1.0-0'}}</h5>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card top_counter bg-green">
              <div class="body  text-center">
                <div class="text">Pending</div>
                <h5 class="number">{{recentList?.AepsAmount| currency : 'INR' : true : '1.0-0'}}</h5>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card top_counter bg-green">
              <div class="body  text-center">
                <div class="text">Refund Pending</div>
                <h5 class="number">{{recentList?.AepsAmount| currency : 'INR' : true : '1.0-0'}}</h5>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card top_counter bg-green">
              <div class="body  text-center">
                <div class="text">Refunded</div>
                <h5 class="number">{{recentList?.AepsAmount| currency : 'INR' : true : '1.0-0'}}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body wrapper-slider-image">
            <div class="widget-dashboard-image">
              <ngb-carousel *ngIf="banners?.messageList">
                <ng-template ngbSlide *ngFor="let event of banners?.messageList">
                  <img [src]="event.banners" alt="Random slide">
                  <div class="carousel-caption">
                  </div>
                </ng-template>
              </ngb-carousel>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
