.user-account .rt-ds {
  color: #000;
  font-weight: 900;
}

.card .body {
  padding: 10px !important;
}

.user-account {
  margin: 9px;
}

.card {
  margin-bottom: 10px !important;
}
