<app-admin-layout></app-admin-layout>
<div id="main-content">
    <div class="block-header">
        <div class="row clearfix">
            <div class="col-md-6 col-sm-12">
                <h2>PG List</h2>
            </div>
            <div class="col-md-6 col-sm-12 text-right">
                
            </div>
        </div>
    </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12 col-xl-12">
              <div class="card">
                <div class="card-body">                
                  
                  <div class="table-responsive">
                    <p-table [style]="{'width':'100%'}" class="table-home" #dt [value]="respData" 
                      [rowHover]="true" [rows]="20" [showCurrentPageReport]="true" [rowsPerPageOptions]="[20,50,100]"
                      [loading]="commonService.isLoader" [paginator]="true"
                      currentPageReportTemplate="{first} - {last} of {totalRecords}" [filterDelay]="0"
                      [globalFilterFields]="['bankName','ifsc','isStatus']">
                      <ng-template pTemplate="caption">
                        <div class="row table-header">     
                          <div class="col-md-10">
                            <h4 class="mt-2 header-title">PG MANAGER</h4>
                          </div>
                          <div class="col-md-2 pt-2">
                            <div class="wrapper-button-control text-right">
                              <a href="javascript:void(0)" (click)="openModal()" class="btn-theme-users active mb-2">Add
                               New</a>
                            </div>
                          </div>
                        </div>
                        </ng-template>
                      <ng-template pTemplate="header">
                        <tr>
                            <th>S.R.</th>
                          <th pSortableColumn="bankName">
                            <div class="p-d-flex p-jc-between p-ai-center">
                             PG Name
                              <p-sortIcon field="bankName"></p-sortIcon>
                          
                            </div>
                          </th>                        
                          
                          <th pSortableColumn="ifsc">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                Credit Card Charge  (%)
                              <p-sortIcon field="ifsc"></p-sortIcon>                             
                            </div>
                          </th>
                          <th pSortableColumn="ifsc">
                            <div class="p-d-flex p-jc-between p-ai-center">
                              Debit Charge (%)
                              <p-sortIcon field="ifsc"></p-sortIcon>                             
                            </div>
                          </th>
                          <th pSortableColumn="ifsc">
                            <div class="p-d-flex p-jc-between p-ai-center">
                              IMPS/UPI Charge (Rs.)
                              <p-sortIcon field="ifsc"></p-sortIcon>                             
                            </div>
                          </th>
                          <th pSortableColumn="ifsc">
                            <div class="p-d-flex p-jc-between p-ai-center">
                              NEFT/RTGS Charge (Rs.)
                              <p-sortIcon field="ifsc"></p-sortIcon>                             
                            </div>
                          </th>
                          <th pSortableColumn="ifsc">
                            <div class="p-d-flex p-jc-between p-ai-center">
                              Wallet Charge (%)
                              <p-sortIcon field="ifsc"></p-sortIcon>                             
                            </div>
                          </th>
                         
                          <th pSortableColumn="isStatus">
                            <div class="p-d-flex p-jc-between p-ai-center">
                              Status
                              <p-sortIcon field="isStatus"></p-sortIcon>
                             
                            </div>
                          </th>   
                          <th></th>                       
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-cp let-i="rowIndex">
                        <tr class="p-selectable-row">
                            <td>{{i+1}}</td>
                          <td>
                            {{cp.bankName}}
                          </td>                          
                          <td>
                            {{cp.cashCharge}}
                          </td>   
                          <td>
                            {{cp.cdmCharge}}
                          </td>   
                          <td>
                            {{cp.impsCharge}}
                          </td>   
                          <td>
                            {{cp.neftCharge}}
                          </td>   
                          <td>
                            {{cp.fundTransferCharge}}
                          </td>   
                                                    
                          <td>
                            {{cp.isStatus=='A'?'Active':'InActive'}}
                          </td>
                          <td>
                            <button type="button" class="btn btn-outline-info btn-sm" (click)="updateService(cp)"><i class="fa fa-edit"></i></button>
                          </td>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="emptymessage">
                        <tr>
                          <td colspan="11">No records found.</td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  <p-dialog header="PG MANAGER" class="dailogbox" [baseZIndex]="10000" [style]="{'max-width': '60vw'}"
  [(visible)]="isModel">
  <div class="update-form">
    <form (ngSubmit)="serviceForm.form.valid && formSubmit()" #serviceForm="ngForm" name="serviceForm">
      <div class="modal-body">
        <div class="row border-button">
          <div class="col-sm-4 form-group">
            <label>Bank Name</label>
            <input type="text" class="form-control" name="bankName" [(ngModel)]="serviceData.bankName" #bankName="ngModel"
              [ngClass]="{ 'is-invalid': serviceForm.submitted && bankName.invalid }" required />
            <div *ngIf="serviceForm.submitted && bankName.invalid" class="invalid-feedback">
              <div *ngIf="bankName.errors">Bank Name is required</div>
            </div>
          </div>              
          <div class="col-sm-4 form-group">
            <label>Credit Card Charge (%)</label>
            <input type="number" class="form-control" name="CashCharge" [(ngModel)]="serviceData.cashCharge" #CashCharge="ngModel"/>           
          </div>
          <div class="col-sm-4 form-group">
            <label>Debit Charge (%)</label>
            <input type="number" class="form-control" name="CdmCharge" [(ngModel)]="serviceData.cdmCharge" #CdmCharge="ngModel"/>           
          </div>
          <div class="col-sm-4 form-group">
            <label>IMPS/UPI Charge (Rs.)</label>
            <input type="number" class="form-control" name="ImpsCharge" [(ngModel)]="serviceData.impsCharge" #ImpsCharge="ngModel"/>           
          </div>
          <div class="col-sm-4 form-group">
            <label>NEFT/RTGS Charge (Rs.) </label>
            <input type="number" class="form-control" name="NeftCharge" [(ngModel)]="serviceData.neftCharge" #NeftCharge="ngModel"/>           
          </div>
          <div class="col-sm-4 form-group">
            <label>Wallet Charge (%)  </label>
            <input type="number" class="form-control" name="FundTransferCharge" [(ngModel)]="serviceData.fundTransferCharge" #FundTransferCharge="ngModel"/>           
          </div>         
          <div class="col-sm-4 form-group">
            <label>Status</label>
            <select type="text" class="form-control" name="IsStatus" [(ngModel)]="serviceData.isStatus"
              #IsStatus="ngModel" [ngClass]="{ 'is-invalid': serviceForm.submitted && IsStatus.invalid }" required>
              <option value="A">Active</option>
              <option value="I">Inactive</option>
            </select>
            <div *ngIf="serviceForm.submitted && IsStatus.invalid" class="invalid-feedback">
              <div *ngIf="IsStatus.errors">Status is required</div>
            </div>
          </div>
          <div class="col-sm-4 form-group">
            <label>Type</label>
            <select type="text" class="form-control" name="bankType" [(ngModel)]="serviceData.bankType"
              #bankType="ngModel" [ngClass]="{ 'is-invalid': serviceForm.submitted && IsStatus.invalid }" required>
              <option value="BANK">Bank</option>
              <option value="PG">PG</option>
            </select>
            <div *ngIf="serviceForm.submitted && bankType.invalid" class="invalid-feedback">
              <div *ngIf="bankType.errors">Type is required</div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="toggleModal()" class="btn btn-dark waves-effect">
          Close
        </button>
        <button type="submit" class="btn btn-primary waves-effect">
          Submit
        </button>
      </div>
    </form>
  </div>
</p-dialog>
  